<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/movies"> </ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">CENOVNIK BIOSKOPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop >

  <ion-card>
    <ion-card-header>
      <ion-grid><ion-row><ion-col><ion-avatar >
        <img src="https://i.pinimg.com/564x/5d/c1/37/5dc1378a4fb9ea319063797637c50b43.jpg">
      </ion-avatar></ion-col><ion-col >
        <ion-card-title >CENE ULAZNICA</ion-card-title></ion-col></ion-row></ion-grid>


      <ion-card-subtitle>-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   -</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      SVI POPUSTI SE OSTVARUJU NA BLAGAJNI!
      <ion-grid>
        <ion-row>
          <ion-col><div></div></ion-col>
          <ion-col><div>RADNIM DANIMA </div></ion-col>
          <ion-col><div> VIKENDOM</div></ion-col>
          </ion-row>
        <ion-row>
          <ion-col><div> 2D projekcije do 18:59h</div></ion-col>
          <ion-col><div>300 din </div></ion-col>
          <ion-col><div> 350 din</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div> 2D projekcije OD 19:00h</div></ion-col>
          <ion-col><div>350 din </div></ion-col>
          <ion-col><div> 400 din</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div> 3D projekcije do 18:59h</div></ion-col>
          <ion-col><div>400 din </div></ion-col>
          <ion-col><div> 450 din</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div> 3D projekcije OD 19:00h</div></ion-col>
          <ion-col><div>400 din </div></ion-col>
          <ion-col><div> 450 din</div></ion-col>
        </ion-row>


      </ion-grid>


    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-grid><ion-row><ion-col><ion-avatar >
        <img src="https://i.pinimg.com/564x/f8/ad/e3/f8ade39269acaff363979333feda5479.jpg">
      </ion-avatar></ion-col><ion-col >
        <ion-card-title >PORODIČNI DANI</ion-card-title></ion-col></ion-row></ion-grid>
      <ion-card-subtitle>-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   -</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Akcija porodični vikend važi subotom, nedeljom i praznikom za sve projekcije koje počinju do 17:59.
      Cene su:
      <ion-grid>
        <ion-row>2D- FILM</ion-row>
        <ion-row>
          <ion-col>
            <div>3 OSOBE</div>
          </ion-col>
          <ion-col>
            <div> - 900 DIN</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>4 OSOBE</div>
          </ion-col>
          <ion-col>
            <div> - 1200 DIN</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>5 OSOBA</div>
          </ion-col>
          <ion-col>
            <div> - 1500 DIN</div>
          </ion-col>
        </ion-row>
        <ion-row>3D- FILM</ion-row>
        <ion-row>
          <ion-col>
            <div>3 OSOBE</div>
          </ion-col>
          <ion-col>
            <div> - 1200 DIN</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>4 OSOBE</div>
          </ion-col>
          <ion-col>
            <div> - 1600 DIN</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>5 OSOBA</div>
          </ion-col>
          <ion-col>
            <div> - 2000 DIN</div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-grid><ion-row><ion-col><ion-avatar >
        <img src="https://i.pinimg.com/564x/5d/c1/37/5dc1378a4fb9ea319063797637c50b43.jpg">
      </ion-avatar></ion-col><ion-col >
        <ion-card-title >HAPPY DAY</ion-card-title></ion-col></ion-row></ion-grid>

      <ion-card-subtitle>-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   -</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Srećan vam ponedeljak! Uz akciju Happy day, svakog ponedeljka, svaki posetilac MovieStar bioskopa
      dobija veliki popust na kupovinu ulaznice. Cena karte za 2D film iznosi 300, a za svaki igrani 3D film je 420 dinara, dok 3D filmovi za decu iznose 400 dinara nezavisno od termina prikazivanja. Iskoristite ovaj srećan dan!

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid><ion-row><ion-col><ion-avatar >
        <img src="https://i.pinimg.com/564x/7d/04/1c/7d041c7af4c707962900e6ab49608932.jpg">
      </ion-avatar></ion-col><ion-col >
        <ion-card-title >MovieStar GRICKALICE</ion-card-title></ion-col></ion-row></ion-grid>

      <ion-card-subtitle>-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -   -</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row> <ion-col>Male kokice</ion-col><ion-col> 200 din</ion-col></ion-row>
        <ion-row><ion-col>Velike kokice</ion-col><ion-col>250 din</ion-col></ion-row>
        <ion-row><ion-col>Takosi</ion-col><ion-col> 250 din</ion-col></ion-row>
        <ion-row><ion-col>Coca Cola</ion-col><ion-col>120 din</ion-col></ion-row>
        <ion-row><ion-col>Fanta</ion-col><ion-col>120 din</ion-col></ion-row>
        <ion-row><ion-col>Sprite</ion-col><ion-col>120 din</ion-col></ion-row>
        <ion-row><ion-col>Juice</ion-col><ion-col>110 din</ion-col></ion-row>
        <ion-row><ion-col> Cedevita</ion-col><ion-col>100 din</ion-col></ion-row>
      </ion-grid>



    </ion-card-content>
  </ion-card>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="pageScroller()" >

      <ion-icon name="arrow-up-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

